  <section class="pofficepage" >

  <div class="search">
    <h1>Pin Code Search</h1>
    <input  type = "text" name="keyword" ng-model="keyword" placeholder="Enter pincode" autofocus>
    <br>
    <br>
    <input ng-click="searchData()" type="submit" class="btn text" value="Search">
  </div>

  <ul class="pofficelist" ng-show="results">
    <li ng-animate="'animate'" class="poffice cf" ng-repeat="item in results">
        <a href="#/details/{{results.indexOf(item)}}">
          <div class="info">
            <h2>{{item.office_name}}</h2>
          </div>
        </a>
    </li>
  </ul>
</section>